africastalking==1.2.5
asgiref==3.6.0
certifi==2023.5.7
charset-normalizer==3.1.0
contextlib2==21.6.0
dj-database-url==2.0.0
Django==4.2.1
django-heroku==0.3.1
django-on-heroku==1.1.2
et-xmlfile==1.1.0
gunicorn==20.1.0
idna==3.4
openpyxl==3.1.2
psycopg2==2.9.6
psycopg2-binary==2.9.6
requests==2.31.0
schema==0.7.5
sqlparse==0.4.4
typing_extensions==4.6.2
urllib3==2.0.2
whitenoise==6.4.0
